body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}

textarea {
  background: transparent;
  resize: none;
  color: #000000;
  border: 1px solid black;
  padding: 10px;
}

header {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
  padding: 60px;
}

.description {
  white-space: pre-wrap;
}

.time-block {
  width: 80%;
  
}

.row {
  white-space: pre-wrap;
  height: 85px;
  border-top: 1px solid white;
}

.hour {
  width: 10%;
  text-align: center;
  background-color: #ffffff;
  color: #000000;
  border: 1px solid black;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  font-weight: 700;
  padding-top: 10px;  
}

.past {
  width: 85%;
  background-color: #d3d3d3;
}

.present {
  width: 85%;
  background-color: #ff6961;
}

.future {
  width: 85%;
  background-color: #77dd77;
}

.saveBtn {
  width: 5%;
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06aed5;
  color: white;
  background-image: url('./save-icon.png');
  background-size: 25px;
  background-repeat: no-repeat;
  background-position: center;
}

.saveBtn:hover {
  -webkit-box-shadow: -11px 14px 20px -1px rgba(87, 89, 109, 1);
    -moz-box-shadow: -11px 14px 20px -1px rgba(87, 89, 109, 1);
    box-shadow: -11px 14px 20px -1px rgba(87, 89, 109, 1);
    color: var(--hover-color);
    background-color: rgb(113, 151, 233);
}

.hour:hover {
  -webkit-box-shadow: -11px 14px 20px -1px rgba(87, 89, 109, 1);
    -moz-box-shadow: -11px 14px 20px -1px rgba(87, 89, 109, 1);
    box-shadow: -11px 14px 20px -1px rgba(87, 89, 109, 1);
    color: var(--hover-color);
}
